.papa {
  min-height: 82vh;
}

.jumbotron-search {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./media/search_jumbotron.jpg");
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.whitespace {
  white-space: pre;
}

.m-xs-right {
  margin-right: 5px !important;
}

.jumbotron-home {
  margin-bottom: 50px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

.hero-image-desktop-version-home {
  height: 25rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./media/heroimage-search-1600x500.jpg");
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.hero-image-mobile-version-home {
  height: 15rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./media/heroimage-search-1200x800.jpg");
}