.repair-whole {
  min-height: 82vh;
}

.jumbotron-repair {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./media/repair_jumbotron.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.articles-wrapper-outer {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/*

.repair-whole {
  min-height: 82vh;
}

.jumbotron-repair {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./media/repair_jumbotron.jpg");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

*/